body {
  font-family: Inter;
  font-size: 14px;
  margin: 0;
  color: white;
  padding: 0;
}

h1 {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.05em;
  text-align: center;
  padding-top: 0px;
}



input {
  border: none;
  background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
  font-family: Inter;
  font-size: 78px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 540px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.main-div {
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin-top: 50px;
}

.conversion-div {
  width: 550px;
  height: 260px;
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.indicators-div {
  padding-top: 0px;
  padding-bottom: 10px;
  background: #1F2937;
  width: 550px;
  height: 290px;
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.paragraph-div {
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  color: #D2D2D2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

}

.units-paragraph {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: -40px;
  margin-bottom: -1px;
  margin-top: 20px;
}